.intro{
    margin: 65px auto;
    width: 780px;
    text-align: center;
}


.guideCard{
    width: 380px;
    height: 450px;
    border: 1px solid grey;
    box-shadow: 8px 13px 14px 7px rgba(157, 135, 243, 0.25);
    border-radius: 5px;
}

.guideGroup{
    width: 97%;
    height: 500px;
    display: flex;
    overflow: scroll;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 20px;
    flex-direction: column;
    grid-auto-flow: row;
}
